{#
/**
 * @file
 * Startup Growth Lite's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header_top: Items for the Header Top region.
 * - page.header_first: Items for the Header First region.
 * - page.header: Items for the Header Second region.
 * - page.navigation: Items for the Navigation region.
 * - page.search_area: Items for the Navigation search area region.
 * - page.banner: Items for the Banner region.
 * - page.content_top: Items for the Content Top region.
 * - page.content_top_highlighted: Items for the Content Top Highlighted region.
 * - page.content: Items for the Content region.
 * - page.sidebar_first: Items for the First Sidebar region.
 * - page.sidebar_second: Items for the Second Sidebar region.
 * - page.content_bottom_first: Items for the Content Bottom First region.
 * - page.content_bottom_second: Items for the Content Bottom Second region.
 * - page.featured_top: Items for the Featured Top region.
 * - page.featured: Items for the Featured region.
 * - page.featured_bottom: Items for the Featured Bottom region.
 * - page.breadcrumb: Items for the Breadcrumb region.
 * - page.highlighted: Items for the Highlighted region.
 * - page.highlighted_bottom_first: Items for the Highlighted Bottom First region.
 * - page.highlighted_bottom_second: Items for the Highlighted Bottom Second region.
 * - page.footer_top_first: Items for the Footer Top First region.
 * - page.footer_top_second: Items for the Footer Top Second region.
 * - page.footer_first: Items for the Footer First region.
 * - page.footer_second: Items for the Footer Second region.
 * - page.footer_third: Items for the Footer Third region.
 * - page.footer_fourth: Items for the Footer Fourth region.
 * - page.sub_footer_first: Items for the Subfooter First region.
 * - page.footer: Items for the Subfooter Second region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{# #page-container #}
<div id="page-container" class="page-container">

  {% if header_top or page.header_first or page.header or page.search_area or page.navigation %}
    {# #header-container #}
    <div id="header-container" class="header-container white-region">

      {% if page.header_top %}
        {# #header-top #}
        <div id="header-top" class="clearfix header-top">
          <div class="{{ header_layout_container }}">
            {# #header-top-inside #}
            <div id="header-top-inside" class="clearfix header-top-inside">
              <div class="row">
                <div class="col-md-12">
                  <div class="header-top-area">
                    {{ page.header_top }}
                  </div>
                </div>
              </div>
            </div>
            {# EOF: #header-top-inside #}
          </div>
        </div>
        {# EOF: #header-top #}
      {% endif %}

      {% if page.header_first or page.header or page.search_area or page.navigation %}
        {# #header #}
        <header id="header" role="banner" class="clearfix header {{ header_layout_container_class }} {{ header_layout_columns_class }}">
          <div class="{{ header_layout_container }}">
            {# #header-inside #}
            <div id="header-inside" class="clearfix header-inside">
              <div class="row">
                {% if page.header_first %}
                  <div class="{{ header_first_grid_class }}">
                    <div class="header-area">
                      {# #header-inside-first #}
                      <div id="header-inside-first" class="clearfix header-inside-first">
                        {{ page.header_first }}
                      </div>
                      {# EOF:#header-inside-first #}
                    </div>
                  </div>
                {% endif %}
                {% if page.header %}
                  <div class="{{ header_second_grid_class }} {{ header_second_offset_class }}">
                    <div class="header-area">
                      {# #header-inside-second #}
                      <div id="header-inside-second" class="clearfix header-inside-second">
                        {{ page.header }}
                      </div>
                      {# EOF:#header-inside-second #}
                    </div>
                  </div>
                {% endif %}
                {% if page.search_area or page.navigation %}
                  <div class="{{ header_third_grid_class }}">
                    <div class="header-area">
                      {# #header-inside-third #}
                      <div id="header-inside-third" class="clearfix header-inside-third">
                        {% if page.search_area %}
                          <div id="search-area" class="clearfix search-area">
                            {{ page.search_area }}
                          </div>
                        {% endif %}
                        {% if page.navigation %}
                          {# #main-navigation #}
                          <div id="main-navigation" class="clearfix main-navigation {% if page.search_area %} with-search-bar {% endif %}">
                            <nav role="navigation">
                              {{ page.navigation }}
                            </nav>
                          </div>
                          {# EOF: #main-navigation #}
                        {% endif %}
                      </div>
                      {# EOF:#header-inside-third #}
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
            {# EOF: #header-inside #}
          </div>
        </header>
        {# EOF: #header #}
      {% endif %}

    </div>
    {# EOF: #header-container #}
  {% endif %}

  {% if page.banner %}
    {# #banner #}
    <div id="banner" class="clearfix banner">
      <div class="container-fluid">

        {# #banner-inside #}
        <div id="banner-inside" class="clearfix banner-inside">
          <div class="banner-area">
              <div class="row">
                <div class="col-md-12">
                  {{ page.banner }}
                </div>
              </div>
          </div>
        </div>
        {# EOF: #banner-inside #}

      </div>
    </div>
    {# EOF:#banner #}
  {% endif %}

  {# #page-start #}
  <div id="page-start" class="clearfix"></div>

  {# #page #}
  <div id="page" class="clearfix page">

    {% if page.system_messages %}
      <div class="system-messages">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              {{ page.system_messages }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {% if page.content_top %}
      {# #content-top #}
      <div id="content-top" class="clearfix content-top {{ content_top_background_color }}">
        <div class="{{ content_top_layout_container }}">
          {# #content-top-inside #}
          <div id="content-top-inside" class="clearfix content-top-inside{{ (content_top_animations == "enabled") ? ' fade' : '' }}"
            {% if content_top_animations == "enabled" %}
              data-animate-effect="{{ content_top_animation_effect }}"
            {% endif %}>
            <div class="row">
              <div class="col-md-12">
                <div class="content-top-area">
                  {{ page.content_top }}
                </div>
              </div>
            </div>
          </div>
          {# EOF:#content-top-inside #}
        </div>
      </div>
      {# EOF: #content-top #}
    {% endif %}

    {% if page.content_top_highlighted %}
      {# #content-top-highlighted #}
      <div id="content-top-highlighted" class="clearfix content-top-highlighted {{ content_top_highlighted_background_color }}">
        <div class="{{ content_top_highlighted_layout_container }}">
          {# #content-top-highlighted-inside #}
          <div id="content-top-highlighted-inside" class="clearfix content-top-highlighted-inside{{ (content_top_highlighted_animations == "enabled") ? ' fade' : '' }}"
            {% if content_top_highlighted_animations == "enabled" %}
              data-animate-effect="{{ content_top_highlighted_animation_effect }}"
            {% endif %}>
            <div class="row">
              <div class="col-md-12">
                <div class="content-top-highlighted-area">
                  {{ page.content_top_highlighted }}
                </div>
              </div>
            </div>
          </div>
          {# EOF:#content-top-highlighted-inside #}
        </div>
      </div>
      {# EOF: #content-top-highlighted #}
    {% endif %}

    {# #main-content #}
    <div id="main-content" class="clearfix main-content white-region">
      <div class="container">
        <div class="row">
          <section class="{{ main_grid_class }}">
            {# #main #}
            <div id="main" class="clearfix main main-area{{ (main_content_animations == "enabled") ? ' fade' : '' }}"
              {% if main_content_animations == "enabled" %}
                data-animate-effect="{{ main_content_animation_effect }}"
              {% endif %}>
              {% if page.content %}
                {{ page.content }}
              {% endif %}
            </div>
            {# EOF:#main #}
          </section>
          {% if page.sidebar_first %}
            <aside class="{{ sidebar_first_grid_class }}">
              {# #sidebar #}
              <section id="sidebar-first" class="sidebar sidebar-first clearfix{{ (sidebar_first_animations == "enabled") ? ' fade' : '' }}"
                {% if sidebar_first_animations == "enabled" %}
                  data-animate-effect="{{ sidebar_first_animation_effect }}"
                {% endif %}>
                {{ page.sidebar_first }}
              </section>
              {# EOF:#sidebar #}
            </aside>
          {% endif %}
          {% if page.sidebar_second %}
            <aside class="{{ sidebar_second_grid_class }}">
              {# #sidebar #}
              <section id="sidebar-second" class="sidebar sidebar-second clearfix{{ (sidebar_second_animations == "enabled") ? ' fade' : '' }}"
                {% if sidebar_second_animations == "enabled" %}
                  data-animate-effect="{{ sidebar_second_animation_effect }}"
                {% endif %}>
                {{ page.sidebar_second }}
              </section>
              {# EOF:#sidebar #}
            </aside>
          {% endif %}
        </div>
      </div>
    </div>
    {# EOF:#main-content #}

    {% if page.content_bottom_first or page.content_bottom_second %}
      {# #content-bottom #}
      <div id="content-bottom" class="clearfix content-bottom {{ content_bottom_background_color }}">
        <div class="container">
          {# #content-bottom-inside #}
          <div id="content-bottom-inside" class="clearfix content-bottom-inside{{ (content_bottom_animations == "enabled") ? ' fade' : '' }}"
            {% if content_bottom_animations == "enabled" %}
              data-animate-effect="{{ content_bottom_animation_effect }}"
            {% endif %}>
            <div class="row">
              {% if page.content_bottom_first %}
                <div class="{{ content_bottom_first_grid_class }}">
                  <div id="content-bottom-first" class="content-bottom-first">
                    <div class="content-bottom-area clearfix">
                      {{ page.content_bottom_first }}
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if page.content_bottom_second %}
                <div class="{{ content_bottom_second_grid_class }}">
                  <div id="content-bottom-second" class="content-bottom-second">
                    <div class="content-bottom-area clearfix">
                      {{ page.content_bottom_second }}
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
          {# EOF:#content-bottom-inside #}
        </div>
      </div>
      {# EOF: #content-bottom #}
    {% endif %}

    {% if page.highlighted %}
      {# #highlighted #}
      <div id="highlighted" class="clearfix highlighted {{ highlighted_background_color }}">
        <div class="{{ highlighted_layout_container }}">
          {# #highlighted-inside #}
          <div id="highlighted-inside" class="clearfix highlighted-inside{{ (highlighted_animations == "enabled") ? ' fade' : '' }}"
            {% if highlighted_animations == "enabled" %}
              data-animate-effect="{{ highlighted_animation_effect }}"
            {% endif %}>
            <div class="row">
              <div class="col-md-12">
                <div class="highlighted-area">
                  {{ page.highlighted }}
                </div>
              </div>
            </div>
          </div>
          {# EOF:#highlighted-inside #}
        </div>
      </div>
      {# EOF: #highlighted #}
    {% endif %}

    {% if page.highlighted_bottom_first or page.highlighted_bottom_second %}
      {# #highlighted-bottom #}
      <div id="highlighted-bottom" class="clearfix highlighted-bottom {{ highlighted_bottom_background_color }}">
        <div id="highlighted-bottom-transparent-bg" class="highlighted-bottom-transparent-bg"></div>
        <div class="{{ highlighted_bottom_layout_container }}">
          {# #highlighted-bottom-inside #}
          <div id="highlighted-bottom-inside" class="clearfix highlighted-bottom-inside{{ (highlighted_bottom_animations == "enabled") ? ' fade' : '' }}"
            {% if highlighted_bottom_animations == "enabled" %}
              data-animate-effect="{{ highlighted_bottom_animation_effect }}"
            {% endif %}>
            <div class="row">
              {% if page.highlighted_bottom_first %}
                <div class="{{ highlighted_bottom_first_grid_class }}">
                  <div id="highlighted-bottom-first" class="highlighted-bottom-first">
                    <div class="highlighted-bottom-area clearfix">
                      {{ page.highlighted_bottom_first }}
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if page.highlighted_bottom_second %}
                <div class="{{ highlighted_bottom_second_grid_class }}">
                  <div id="highlighted-bottom-second" class="highlighted-bottom-second">
                    <div class="highlighted-bottom-area clearfix">
                      {{ page.highlighted_bottom_second }}
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
          {# EOF:#highlighted-bottom-inside #}
        </div>
      </div>
      {# EOF: #highlighted-bottom #}
    {% endif %}

    {% if page.featured_top %}
      {# #featured-top #}
      <div id="featured-top" class="clearfix featured-top {{ featured_top_background_color }}">
        <div class="{{ featured_top_layout_container }}">
          {# #featured-top-inside #}
          <div id="featured-top-inside" class="clearfix featured-top-inside{{ (featured_top_animations == "enabled") ? ' fade' : '' }}"
            {% if featured_top_animations == "enabled" %}
              data-animate-effect="{{ featured_top_animation_effect }}"
            {% endif %}>
            <div class="row">
              <div class="col-md-12">
                <div class="featured-top-area">
                  {{ page.featured_top }}
                </div>
              </div>
            </div>
          </div>
          {# EOF:#featured-top-inside #}
        </div>
      </div>
      {# EOF: #featured-top #}
    {% endif %}

    {% if page.featured %}
      {# #featured #}
      <div id="featured" class="clearfix featured {{ featured_background_color }}">
        <div class="{{ featured_layout_container }}">
          {# #featured-inside #}
          <div id="featured-inside" class="clearfix featured-inside{{ (featured_animations == "enabled") ? ' fade' : '' }}"
            {% if featured_animations == "enabled" %}
              data-animate-effect="{{ featured_animation_effect }}"
            {% endif %}>
            <div class="row">
              <div class="col-md-12">
                <div class="featured-area">
                  {{ page.featured }}
                </div>
              </div>
            </div>
          </div>
          {# EOF:#featured-inside #}
        </div>
      </div>
      {# EOF: #featured #}
    {% endif %}

    {% if page.featured_bottom %}
      {# #featured-bottom #}
      <div id="featured-bottom" class="clearfix featured-bottom {{ featured_bottom_background_color }}">
        <div class="{{ featured_bottom_layout_container }}">
          {# #featured-bottom-inside #}
          <div id="featured-bottom-inside" class="clearfix featured-bottom-inside{{ (featured_bottom_animations == "enabled") ? ' fade' : '' }}"
            {% if featured_bottom_animations == "enabled" %}
              data-animate-effect="{{ featured_bottom_animation_effect }}"
            {% endif %}>
            <div class="row">
              <div class="col-md-12">
                <div class="featured-bottom-area">
                  {{ page.featured_bottom }}
                </div>
              </div>
            </div>
          </div>
          {# EOF:#featured-bottom-inside #}
        </div>
      </div>
      {# EOF: #featured-bottom #}
    {% endif %}

  </div>
  {# EOF:#page #}

  {% if page.footer_top_first or page.footer_top_second %}
    {# #footer-top #}
    <div id="footer-top" class="clearfix footer-top {{ footer_top_regions }} {{ footer_top_background_color }}">
      <div class="container">
        {# #footer-top-inside #}
        <div id="footer-top-inside" class="clearfix footer-top-inside{{ (footer_top_animations == "enabled") ? ' fade' : '' }}"
          {% if footer_top_animations == "enabled" %}
            data-animate-effect="{{ footer_top_animation_effect }}"
          {% endif %}>
          <div class="row">
            {% if page.footer_top_first %}
              <div class="{{ footer_top_first_grid_class }}">
                {# #footer-top-first #}
                <div id="footer-top-first" class="clearfix footer-top-first">
                  <div class="footer-top-area">
                    {{ page.footer_top_first }}
                  </div>
                </div>
                {# EOF:#footer-top-first #}
              </div>
            {% endif %}
            {% if page.footer_top_second %}
              <div class="{{ footer_top_second_grid_class }}">
                {# #footer-top-second #}
                <div id="footer-top-second" class="clearfix footer-top-second">
                  <div class="footer-top-area">
                    {{ page.footer_top_second }}
                  </div>
                </div>
                {# EOF:#footer-top-second #}
              </div>
            {% endif %}
          </div>
        </div>
        {# EOF: #footer-top-inside #}
      </div>
    </div>
    {# EOF: #footer-top #}
  {% endif %}

  {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
    {# #footer #}
    <footer id="footer" class="clearfix footer {{ footer_background_color }}">
      <div class="{{ footer_layout_container }}">
        <div class="row">
          {% if page.footer_first %}
            <div class="{{ footer_grid_class }}">
              <div class="footer-area{{ (footer_animations == "enabled") ? ' fade' : '' }}"
                {% if footer_animations == "enabled" %}
                  data-animate-effect="{{ footer_animation_effect }}"
                {% endif %}>
                {{ page.footer_first }}
              </div>
            </div>
          {% endif %}
          {% if page.footer_second %}
            <div class="{{ footer_grid_class }}">
              <div class="footer-area{{ (footer_animations == "enabled") ? ' fade' : '' }}"
                {% if footer_animations == "enabled" %}
                  data-animate-effect="{{ footer_animation_effect }}"
                {% endif %}>
                {{ page.footer_second }}
              </div>
            </div>
          {% endif %}
          {% if page.footer_third %}
            <div class="{{ footer_grid_class }}">
              <div class="footer-area{{ (footer_animations == "enabled") ? ' fade' : '' }}"
                {% if footer_animations == "enabled" %}
                  data-animate-effect="{{ footer_animation_effect }}"
                {% endif %}>
                {{ page.footer_third }}
              </div>
            </div>
          {% endif %}
          {% if page.footer_fourth %}
            <div class="{{ footer_grid_class }}">
              <div class="footer-area{{ (footer_animations == "enabled") ? ' fade' : '' }}"
                {% if footer_animations == "enabled" %}
                  data-animate-effect="{{ footer_animation_effect }}"
                {% endif %}>
                {{ page.footer_fourth }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </footer>
    {# EOF #footer #}
  {% endif %}

  {% if page.sub_footer_first or page.footer %}
    <div id="subfooter" class="clearfix subfooter {{ subfooter_background_color }}">
      <div class="{{ subfooter_layout_container }}">
        {# #subfooter-inside #}
        <div id="subfooter-inside" class="clearfix subfooter-inside">
          <div class="row">
            {# #subfooter-first #}
            {% if page.sub_footer_first %}
              <div class="{{ subfooter_first_grid_class }}">
                <div class="subfooter-area first">
                  {{ page.sub_footer_first }}
                </div>
              </div>
            {% endif %}
            {# EOF: #subfooter-first #}
            {# #subfooter-second #}
            {% if page.footer %}
              <div class="{{ subfooter_second_grid_class }}">
                <div class="subfooter-area second">
                  {{ page.footer }}
                </div>
              </div>
            {% endif %}
            {# EOF: #subfooter-second #}
          </div>
        </div>
        {# EOF: #subfooter-inside #}
      </div>
    </div>
    {# EOF:#subfooter #}
  {% endif %}

  {% if scroll_to_top %}
  {# #toTop #}
    <div id="toTop" class="to-top"><i class="fa {{ scroll_to_top_icon }}"></i></div>
  {# EOF:#toTop #}
  {% endif %}

</div>
